CVD_Project_VSY.json
[{"id":"c9d609c910dd2b7c","type":"tab","label":"HFPM DASHBAORD","disabled":false,"info":""},{"id":"b669190d39c923ee","type":"debug","z":"c9d609c910dd2b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":320,"wires":[]},{"id":"96ae5a0b002458b2","type":"function","z":"c9d609c910dd2b7c","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\n\nvar apikey=\"1w7xwfVamwQ5zaDi7v9eGVKHz5AvHtr3RIEUgW8KM82v\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["e471f29142155407"]]},{"id":"e471f29142155407","type":"http request","z":"c9d609c910dd2b7c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":350,"y":160,"wires":[["d0da8096b8a12b3c","8933a00368b37df4"]]},{"id":"d0da8096b8a12b3c","type":"debug","z":"c9d609c910dd2b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"8933a00368b37df4","type":"function","z":"c9d609c910dd2b7c","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":60,"wires":[["899b20ff3c39a54f"]]},{"id":"899b20ff3c39a54f","type":"http request","z":"c9d609c910dd2b7c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/e08d33fd-3fcd-4e6e-a1cd-3fc789a30d9f/predictions?version=2022-07-31","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":140,"wires":[["757c4b5e9c0e11d3","7364cc165210f9fc","6aeed0a38bec3d6f"]]},{"id":"757c4b5e9c0e11d3","type":"debug","z":"c9d609c910dd2b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]},{"id":"ad22feabc7785205","type":"inject","z":"c9d609c910dd2b7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["96ae5a0b002458b2"]]},{"id":"ae0784837e1ab407","type":"debug","z":"c9d609c910dd2b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"7364cc165210f9fc","type":"function","z":"c9d609c910dd2b7c","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = 'Not at Risk';\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = 'At Risk';\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":80,"wires":[["ae0784837e1ab407","0f2dd3e1f1c730a9"]]},{"id":"0f2dd3e1f1c730a9","type":"ui_text","z":"c9d609c910dd2b7c","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":100,"wires":[]},{"id":"b85a3e9e58a2ea95","type":"ui_form","z":"c9d609c910dd2b7c","name":"","label":"","group":"80c2766c.ace4c8","order":1,"width":0,"height":0,"options":[{"label":"AVERAGE HEART BEATS ( Per Minute )","value":"hb","type":"number","required":true,"rows":null},{"label":" PALPITATIONS PER DAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX (M or F)","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y or N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER ( In Last 5 Years : Y or N )","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE ( Minutes Per Week )","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":240,"wires":[["b669190d39c923ee","96ae5a0b002458b2"]]},{"id":"650e29b83615f190","type":"ui_text","z":"c9d609c910dd2b7c","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Score","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":240,"wires":[]},{"id":"4be0fb91a376e6b1","type":"debug","z":"c9d609c910dd2b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"6aeed0a38bec3d6f","type":"function","z":"c9d609c910dd2b7c","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][0]\n       \n    }\nelse \n    {\n        msg.paylaod = msg.payload.predictions[0].values[0][1][1]\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":220,"wires":[["4be0fb91a376e6b1","650e29b83615f190"]]},{"id":"80c2766c.ace4c8","type":"ui_group","name":"Default","tab":"547fcc14.7f90b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"547fcc14.7f90b4","type":"ui_tab","z":"a4b58694.dd7a08","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]